<div class="container">
  <table>
    <thead>
    <tr>
      <th>Nume</th>
      <th>Facultate</th>
      <th>Actiune</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let specializare of specializari">
      <td>{{specializare.numeSpecializare}}</td>
      <td>{{specializare.facultate?.numeFacultate}}</td>
      <th>
        <button class="btn btn-delete" (click)="deleteSpecializare(specializare.id)">
          <span class="mdi mdi-delete mdi-24px"></span>
          <span class="mdi mdi-delete-empty mdi-24px"></span>
          <span>Delete</span>
        </button>
      </th>
    </tr>
    </tbody>
  </table>
  <button class="button-67" role="button" routerLink="../add-specializare">Adaugă specializare</button>
</div>
