<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

<div class="container">
  <form #addSpecializare="ngForm" (ngSubmit)="onClickSubmit(addSpecializare.value)" >
    <p>Adaugă specializare nouă </p>
    <input type="text" name="numeSpecializare" placeholder="Specializare" ngModel><br>
    <select name="facultate" ngModel>
      <option *ngFor = "let f of facultati" [ngValue]=f>{{f.numeFacultate}}
      </option>
    </select>
    <br>
    <input type="submit" value="submit">
  </form>

  <div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>
</div>

